@import "../../node_modules/vanilla-cookieconsent/dist/cookieconsent.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  a:hover, button:hover {
    @apply cursor-pointer;
  }

  .overlay {
    position: relative
  }

  @media (min-width: 1024px) {
    .overlay:after {
      @apply absolute inset-0 opacity-75;
      content: "";
      background: linear-gradient(0deg, #000 3%, hsla(0, 0%, 51%, 0) 35%, transparent)
    }
  }

  .overlay-2 {
    position: relative
  }

  .overlay-2:after {
    @apply absolute inset-0 z-0 transition transition-all duration-500 pointer-events-none;
    background: linear-gradient(transparent, rgba(0, 0, 0, .5) 50%, #010232);

    transition-timing-function: cubic-bezier(.4, 0, .2, 1);
    content: "";
    top: 30%;
  }

  .overlay-2:focus:after, .overlay-2:hover:after {
    top: 0
  }
}

@layer utilities {
  #cc--main {
    z-index: 10 !important;
  }

  #fireworks {
    position: fixed !important;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 10000 !important;
  }
}
